{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">

  <h1>{{ title }}</h1>
  <form>
    <div class="form-group">
      <label for="restrauntName">Restraunt Name</label>
      <input type="name" class="form-control" id="restrauntName" placeholder="Name..">
    </div>
    <div class="form-group">
      <label for="type">Kind of food</label>
      <input type="string" class="form-control" id="restrauntType" placeholder="type..">
    </div>
    <div class="form-group">
      <label for="type">rating</label>
      <input type="number" class="form-control" id="restrauntRating" placeholder="rating..">
    </div>
    <button type="submit" id="restrauntForm" class="btn btn-default">Submit</button>
  </form>


  <hr><br>

  <div id="results"></div>

  <div id="restraunt-table">

    <h2>All Restraunts</h2>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rating</th>
            <!-- <th>Options</th> -->
          </tr>
        </thead>
        <tbody id="all">
        </tbody>
      </table>
    </div>
  </div>
  <form id="edit-form">
    <h2>Edit Restraunts</h2>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-type">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-rating">
    </div>
    <button type="submit" class="btn btn-primary update-button">Update</button>
    <button class="btn btn-success" id="cancel-edit">Cancel</button>
  </form>
</div>

{% endblock %}
